#landing {
  height: 100vh;
  background: #6ED3CF;

  #images {
    img {
      max-width: 100vw;
      max-height: 100vh;
    }
  }
}

#inputContainer {
  width: 50vw;
  height: 100vh;
  transform: translateX(50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
  position: absolute;
  top: 0;

  .inputWrapper {
    width: 75%;
  }

  h1 {
    width: 100%;
    text-align: center;
    padding-bottom: 80px;
    -webkit-text-fill-color: #fff;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #333333;
  }
}
