@media(max-width: $tablet-break) {

  #images {
    img {
      width: 50vw;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  header {
    position: static;
    display: block;
    height: 180px;

    h2 {
      display: none;
    }

    form {
      width: 100%;
      display: block;
      margin: 0 auto;

      input, select {
        margin-left: 0;
      }

      input {
        padding: 0;
        text-align: left;
      }

      select {
        margin-top: 15px;
        padding-left: 0;
      }

      button {
        position: absolute;
        top: 120px;
        left: 20px;
      }
    }

    #displayName {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  }

  .segmentWrapper {
    display: block;
    margin-top: 0;
  }

  main {
    padding-top: 25px;

    #results {
      width: 100%;

      .repo {
        width: 90%;
        overflow: hidden;

        p {
          width: 100%;
        }
      }
    }

    #faved {
      width: 100%;
      border-left: none;

      .fav {
        width: 90%;
      }
    }

    #results, #faved {
      display: none;
    }

    &.results #results {
      display: block;
    }
    &.results #segmentResults {
      background-color: #00303F;
      color: #fff;
    }

    &.favourites #faved {
      display: block;
    }
    &.favourites #segmentFav {
      background-color: #00303F;
      color: #fff;
    }
  }
}

@media (max-width:$middle-break) {
  #inputContainer {
    width: 100vw;
    transform: translateX(0%);

    h1 {
      padding-bottom: 35px;
      font-size: 6rem;
    }

    .inputWrapper {
      width: 90%;
    }
  }
}
